.container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  
}

.card {
  width: 200px;
  height: 200px;
  background-color: rgb(209, 55, 55);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  margin: 0;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}