.card-container {
    display: flex;
    justify-content: space-around;
  }
  
  .card-container ion-card {
    width: 300px;
    height: 200px;
    text-align: center;
    background-color: rgb(224, 36, 7);
    border-radius: 20px;
    
  }
  .card-container ion-card:hover{
    background-color: rgb(157, 32, 10);
    
  }