.cardIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px; /* Ajusta el tamaño del icono según tus necesidades */
}

.card {
  width: 250px; /* Ajusta el ancho de la tarjeta según tus necesidades */
  height: 250px; /* Ajusta la altura de la tarjeta según tus necesidades */
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  margin: 0;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  gap: 10px; /* Ajusta el espacio entre las tarjetas según tus necesidades */
}